<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>Item Detail</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}"></h2>
    </div>
    <h2 th:if="${param.status}" th:text="#{label.successfullySaved}"></h2>
    <div>
        <label for="id" th:text="#{label.item.id}"></label>
        <input type="text" id="id" name="id" class="form-control" th:value="${item.id}" disabled>
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}"></label>
        <input type="text" id="itemName" name="itemName" class="form-control" th:value="${item.itemName}" disabled>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}"></label>
        <input type="text" id="price" name="price" class="form-control" th:value="${item.price}" disabled>
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}"></label>
        <input type="text" id="quantity" name="quantity" class="form-control" th:value="${item.quantity}" disabled>
    </div>
    <hr class="my-4">

    <div>
        <div th:text="#{label.item.onSale}"></div>
        <div class="form-check">
            <input type="checkbox" id="onSale" th:field="${item.onSale}" class="form-check-input" disabled>
            <label for="onSale" class="form-check-label" th:text="#{label.item.onSale}"></label>
        </div>
    </div>
    <div>
        <div th:text="#{label.item.regions}"></div>
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <input type="checkbox" th:field="*{item.regions}" th:value="${region.key}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-lable">no region</label>
        </div>
    </div>
    <div>
        <div th:text="#{label.item.itemTypes}"></div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="*{item.itemType}" th:value="${type.name}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                no item
            </label>
        </div>
    </div>
    <div>
        <div th:text="#{label.item.deliveryTypes}"></div>
        <select th:field="*{item.deliveryCode}" class="form-select" disabled>
            <option value="" th:text="#{label.item.selectDeliveryTypes}"></option>
            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}" th:text="${deliveryCode.displayName}">No delivery type</option>
        </select>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" th:onclick="|location.href='@{/item/{itemId}/edit(itemId=${item.id})}'|" type="button" th:text="#{button.edit}"></button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/}'|" type="button" th:text="#{button.itemList}"></button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>